img {
  vertical-align: middle;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: #666;
}
#header {
  z-index: 999;
  height: 45px;
  background-color: #006699;
  color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
}
#header > h4 {
  margin: 0;
  line-height: 45px;
  font-weight: normal;
}
#header .fa-search {
  color: #fff;
  position: absolute;
  right: 20px;
  top: 14px;
}
#header .fa-arrow-left {
  position: absolute;
  left: 10px;
  top: 14px;
  color: #fff;
}
#header form {
  padding-left: 35px;
  padding-right: 45px;
}
#header form > input {
  width: 100%;
  background-color: #fff;
  height: 30px;
  margin-top: 7px;
  font-size: 14px;
  text-align: left;
  color: #000000;
}
#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color: #006699;
  z-index: 999;
}
#footer .mui-row > div > a {
  color: #fff;
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 11px;
}
#footer .mui-row > div > a::before {
  display: block;
}
#footer .mui-row > div > a.active {
  color: orange;
}
html,
body {
  height: 100%;
}
#main {
  padding-top: 45px;
  padding-bottom: 50px;
  height: 100%;
  background-color: #fff;
}
[class^="fa-"],
[class*="fa-"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
#main {
  background-color: #eee;
}
#main .category-left {
  float: left;
}
#main .category-left > ul > li > a {
  background-color: #fff;
  width: 80px;
  height: 40px;
  display: block;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
}
#main .category-left > ul > li.active > a {
  background-color: #ccc;
  color: #006699;
}
#main .category-right {
  overflow: hidden;
  padding: 10px;
  width: auto;
  left: 80px;
  top: 45px;
  bottom: 50px;
}
#main .category-right .mui-scroll {
  position: relative;
}
#main .category-right .mui-scroll > .mui-row {
  background-color: #fff;
}
#main .category-right .mui-scroll > .mui-row > div > a {
  display: block;
  text-align: center;
}
#main .category-right .mui-scroll > .mui-row > div > a > img {
  width: 100%;
}
#main .category-right .mui-scroll > .mui-row > div > a > p {
  font-size: 12px;
  margin-bottom: 0;
}
