img {
  vertical-align: middle;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: #666;
}
#header {
  z-index: 999;
  height: 45px;
  background-color: #006699;
  color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
}
#header > h4 {
  margin: 0;
  line-height: 45px;
  font-weight: normal;
}
#header .fa-search {
  color: #fff;
  position: absolute;
  right: 20px;
  top: 14px;
}
#header .fa-arrow-left {
  position: absolute;
  left: 10px;
  top: 14px;
  color: #fff;
}
#header form {
  padding-left: 35px;
  padding-right: 45px;
}
#header form > input {
  width: 100%;
  background-color: #fff;
  height: 30px;
  margin-top: 7px;
  font-size: 14px;
  text-align: left;
  color: #000000;
}
#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color: #006699;
  z-index: 999;
}
#footer .mui-row > div > a {
  color: #fff;
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 11px;
}
#footer .mui-row > div > a::before {
  display: block;
}
#footer .mui-row > div > a.active {
  color: orange;
}
html,
body {
  height: 100%;
}
#main {
  padding-top: 45px;
  padding-bottom: 50px;
  height: 100%;
  background-color: #fff;
}
[class^="fa-"],
[class*="fa-"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
#main .search-form {
  position: relative;
  top: 10px;
  left: 5px;
  padding-right: 70px;
}
#main .search-form .search-input {
  height: 30px;
  background-color: #fff;
  color: #000;
  border: 1px solid #006699;
  text-align: left;
  margin-bottom: 0px;
  font-size: 14px;
  border-radius: 5px 0 0 5px;
}
#main .search-form .btn-search {
  position: absolute;
  right: 10px;
  top: 0;
  width: 60px;
  height: 30px;
  background-color: #006699;
  border-color: #006699;
  border-radius: 0 5px 5px 0;
}
#main .search-history {
  padding: 20px;
}
#main .search-history .search-history-heading > span {
  font-size: 14px;
}
#main .search-history .search-history-heading > span:first-child {
  float: left;
}
#main .search-history .search-history-heading > span:last-child {
  float: right;
}
#main .search-history .search-history-list {
  margin-top: 10px;
}
#main .search-history .search-history-list > ul {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#main .search-history .search-history-list > ul > li > a {
  display: block;
  font-size: 14px;
}
#main .search-history .search-history-list > ul > li > a > i {
  float: right;
}
